/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

$tangerine: #FD996B;
$grapefruit: #FB6363;

#canvas, #picture {
  // display: none;
}
#canvas {
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $tangerine;

  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}

a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
  &:hover {
    color: lighten($grapefruit, 30%);
  }
  &:visited {
    color: lighten($grapefruit, 30%);
    text-decoration: underline;
  }
}

#start-camera {
  display: block;
  background-image: url('../images/cameraLarge.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 54px 34px;
  background-color: $grapefruit;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 999;
  &.hide {
    display: none;
  }
}
#picture {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 68px;
  opacity: 0;
  z-index: 1000;
  &.hide {
    display: none;
  }
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:not([class]) {
    > * {
      display: none;
    }
  }

  &.start-screen {
    background-image: url('../images/dummy_map.png');
  }
}

#start-screen-controls {
  #start-logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 279px;
    height: 62px;
    margin-top: -68px;
    margin-left: -140px;
  }
}

.camera-details-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .camera-overlay {
    position: absolute;
    bottom: 0px;
    height: 250px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)));
  }
  .camera-description {
    -webkit-appearance: none;
    box-sizing: border-box;
    background-color: #fff;
    border: 0;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    height: 60px;
    margin-bottom: 2px;
  }
  .camera-map {
    background-color: #999;
    height: 120px;
    width: 100%;
    margin-bottom: 5px;
  }
  .camera-submit {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 0;
    color: #fff;
    background-color: $grapefruit;
    text-align: center;
  }
}