/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$tangerine: #FD996B;
$grapefruit: #FB6363;

#canvas, #picture {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $tangerine;

  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}

a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
  &:hover {
    color: lighten($grapefruit, 30%);
  }
  &:visited {
    color: lighten($grapefruit, 30%);
    text-decoration: underline;
  }
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:not([class]) {
    > * {
      display: none;
    }
  }
  
  &.start-screen {
    background-image: url('../images/dummy_map.png');
  }
}

#start-screen-controls {
  position: absolute;
  top: 50%;
  margin-top: -100px;

  width: 100%;
  height: 200px;

  background-color: transparentize($tangerine, 0.25);
}