/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

$tangerine: #FD996B;
$grapefruit: #FB6363;

#canvas {
  width: 100%;
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.noscroll {
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: #444;

  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;

  &.gallery-view {
    background-color: #2B312F;
  }
}

a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
  &:hover {
    color: lighten($grapefruit, 30%);
  }
  &:visited {
    color: lighten($grapefruit, 30%);
    text-decoration: underline;
  }
}

#start-camera {
  display: block;
  background-image: url('../images/cameraLarge.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 54px 34px;
  background-color: $grapefruit;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  &.hide {
    display: none;
  }
  .gallery-view & {
    bottom: auto;
    top: 0;
    height: 45px;
    background-size: 27px 17px;
  }
}
#picture {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  opacity: 0;
  z-index: 1000;
  &.hide {
    display: none;
  }
  .gallery-view & {
    height: 45px;
  }
}

#wrapper {
  @extend .fullscreen;

  &:not([class]) {
    > * {
      display: none;
    }
  }

  // START SCREEN MAP VIEW STYLING
  &.start-screen {
    #map {
      width:100%;
      position:absolute;
      top:0;
      bottom:0;
      z-index: 5;
    }
  }
  // END SCREEN MAP VIEW STYLING
  
  .gallery-view & {
    margin-top: 50px;
    padding-bottom: 10px;
  }
}

#start-screen-controls {
  #start-logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 279px;
    height: 62px;
    margin-top: -68px;
    margin-left: -140px;
    z-index: 10;
  }

  #start-gallery {
    background-image: url('../images/galleryicon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 27px 27px;
    background-color: $grapefruit;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 47px;
    width: 47px;
    z-index: 10;
  }
}

.camera-details-view {
  @extend .fullscreen;
  .camera-overlay {
    position: absolute;
    bottom: 0px;
    height: 250px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)));
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .4s;
    -webkit-transform: translateY(220px);
    &.animate {
      -webkit-transform: translateY(0px);
    }
  }
  .camera-caption {
    -webkit-appearance: none;
    box-sizing: border-box;
    @include border-radius(0);
    background-color: #fff;
    border: 0;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    height: 30px;
    margin-bottom: 2px;
  }
  .camera-map {
    height: 150px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    #map {
      width:100%;
      position:absolute;
      top:0;
      bottom:0;
    }
  }
  .camera-foursquare {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-image: url("../images/foursquareicon.png");
    background-repeat: no-repeat;
  }
  .camera-submit {
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 0;
    color: #fff;
    background-color: $grapefruit;
    text-align: center;
  }
}

.photo-stub-view {
  margin: 10px;
  border: 3px solid #fff;
  position: relative;
  box-sizing: border-box;
  .photo-description {
    box-sizing: border-box;
    @include background-image(linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)));
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: #fff;
  }
  img {
    max-width: 100%;
  }
}

.location-list {
  @extend .fullscreen;
  z-index: 1001;
  background-color: #2B312F;
  .location-nav {
    height: 45px;
    position: absolute;
    width: 100%;
    border-box: box-sizing;
    background-color: $grapefruit;
  }
  .location-back {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url('../images/arrow.png');
    background-size: 19px 19px;
    background-position: 13px 13px;
    float: left;
  }
  .foursquare-location {
    display: block;
    background-color: #fff;
    margin: 7px;
    padding: 10px;
    font-size: 12px;
    color: #222;
    &:first-of-type {
      margin-top: 55px;
    }
    &:active {
      background-color: lighten(#0BB9DF, 40%);
    }
    .location-distance {
      display: inline-block;
      float: right;
      color: #999;
    }
  }
}

.photo-view {
  @extend .fullscreen;
  z-index: 1001; // above everything, almost a modal. the gallery never unloads
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 45px;
  .photo-nav {
    height: 45px;
    position: absolute;
    width: 100%;
    border-box: box-sizing;
    background-color: $grapefruit;
  }
  .photo-back, .photo-pin {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
  }
  .photo-back {
    background-image: url('../images/arrow.png');
    background-size: 19px 19px;
    background-position: 13px 13px;
    float: left;
  }
  .photo-pin {
    background-image: url('../images/pin.png');
    background-size: 15px 24px;
    background-position: 15px 10px;
    float: right;
  }
  .photo-description {
    position: absolute;
    top: 45px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    line-height: 20px;
  }
}