/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fd996b;
  font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}

/* line 25, ../../sass/screen.scss */
a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
}
/* line 28, ../../sass/screen.scss */
a:hover {
  color: #fff8f8;
}
/* line 31, ../../sass/screen.scss */
a:visited {
  color: #fff8f8;
  text-decoration: underline;
}

/* line 37, ../../sass/screen.scss */
#start-camera {
  display: block;
  background-image: url("../images/cameraLarge.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 54px 34px;
  background-color: #fb6363;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 68px;
  z-index: 999;
}
/* line 50, ../../sass/screen.scss */
#start-camera.hide {
  display: none;
}

/* line 54, ../../sass/screen.scss */
#picture {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 68px;
  opacity: 0;
  z-index: 1000;
}
/* line 63, ../../sass/screen.scss */
#picture.hide {
  display: none;
}

/* line 68, ../../sass/screen.scss */
#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/* line 77, ../../sass/screen.scss */
#wrapper:not([class]) > * {
  display: none;
}
/* line 82, ../../sass/screen.scss */
#wrapper.start-screen {
  background-image: url("../images/dummy_map.png");
}

/* line 88, ../../sass/screen.scss */
#start-screen-controls #start-logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 279px;
  height: 62px;
  margin-top: -68px;
  margin-left: -140px;
}

/* line 103, ../../sass/screen.scss */
.camera-details-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 109, ../../sass/screen.scss */
.camera-details-view .camera-overlay {
  position: absolute;
  bottom: 0px;
  height: 250px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), #000000);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: .4s;
  -webkit-transform: translateY(250px);
}
/* line 120, ../../sass/screen.scss */
.camera-details-view .camera-overlay.animate {
  -webkit-transform: translateY(0px);
}
/* line 124, ../../sass/screen.scss */
.camera-details-view .camera-caption {
  -webkit-appearance: none;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: 0;
  width: 100%;
  font-size: 14px;
  line-height: 26px;
  height: 30px;
  margin-bottom: 2px;
}
/* line 136, ../../sass/screen.scss */
.camera-details-view .camera-map {
  background-color: #999;
  height: 150px;
  width: 100%;
  margin-bottom: 5px;
}
/* line 142, ../../sass/screen.scss */
.camera-details-view .camera-submit {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 0;
  color: #fff;
  background-color: #fb6363;
  text-align: center;
}
